.edit {
    height: 400px;
    width: 800px
}

.content {
    padding-top: 20px;
}

.content h1 {
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.content textarea {
    padding-left: 15px;
    min-height: 200px;
    text-align: justify !important;
    font-size: 18px;
    overflow: auto;
}

.content textarea:focus {
    border-style: inset;
    border-width: 3px;
}

.edit-button {
    padding-right: 120px !important;
}

.cancel:hover {
    background-color: lightgrey;
    color: black;
}

.cancel {
    background-color: lightgrey !important;
    color: black;
    font-weight: bold !important;
}
